@import url('https://fonts.googleapis.com/css2?family=Acme&family=Montserrat:wght@200;400;500;600;700;800;900&display=swap');


/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/* general styles-------------------------------------------------------- */

body {
    line-height: 1.5;
    font-family: 'Montserrat', sans-serif;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

.flex-r {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-c {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.container {
    width: 90%;
    margin: 0 auto;
}

h2,
h3,
h4 {
    font-family: 'Acme', sans-serif;
    font-weight: bold;
    color: rgb(78, 77, 77);
}

/* styling header-------------------------------------------------------- */

.header {
    background-color: #323347;
    padding-top: 30px;
    padding-bottom: 100px;
}

header a,
h3 {
    font-family: 'Acme', sans-serif;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    word-spacing: 4px;
    margin-left: 40px;
    letter-spacing: 2px;
}

.nav h3 {
    color: white;
    font-size: 16px;
    letter-spacing: 2px;
}

header h1,
h2 {
    font-family: 'Acme', sans-serif;
    font-size: 50px;
    letter-spacing: 2px;
    font-weight: bold;
    color: white;
    line-height: 1.2;
    padding: 10px 0;
    text-transform: uppercase;
}

header h2 {
    font-size: 24px;
    color: #E96C77;
    text-transform: capitalize;
    font-family: inherit;
    letter-spacing: 1px;
    line-height: 1.6;
    font-weight: 500;
}

header h3 {
    margin-left: 0;
}

.header .fa {
    margin-right: 4px;
    color: darkgrey;
}

/* styling hero--------------------------------------------------------- */


.hero {
    background-image: url(assets/banner.svg),
        linear-gradient(to right, #323347, #323347);
    background-position: bottom;
    background-repeat: repeat-x;
    background-size: 60%;


    padding-top: 0px;
    padding-bottom: 140px;
}

.btn {
    padding: 10px 30px;
    margin-top: 20px;

}

.btn-hero {
    background-color: #E96C78;
}

.btn-hero h3 {
    color: white;
    font-weight: bold;
    font-family: 'Acme', sans-serif;
}

.sub-menu {
    position: absolute;
    background-color: #FFFFFF;
    box-shadow: 0px 1px 1px black;
    border: 1px solid rgb(78, 77, 77);
    top: 28px;
    left: 120px;
    display: none;

}
.sub-menu .fa{
    position: absolute;
    color: white;
    left: 50%;
    top: -20px;
    transform: translateX(-50%);
}
.sub-menu a {
    color: rgb(112, 107, 107);
    margin-left: 10px;
    margin-right: 20px;
    margin-bottom: 20px;
    font-size: 14px;
    font-weight: 500;
    text-transform: capitalize;
    font-family: inherit;
}

.sub-menu li {
    border: 1px solid rgb(223, 218, 218);
    border-right: 0;
    padding-top: 10px;
    padding-left: 5px;
    padding-bottom: 10px;
    padding-right: 40px;
}

.main-menu {
    position: relative;

}

.drop-down:hover .sub-menu {
    display: inline-block;
}

/* styling main -----------------------------------------------------------*/

/* styling features */

.features {
    background-color: #F5F5F5;
    padding: 90px 0;
}

/* stylish header */
.stylish-header div {
    flex-basis: 30%;
    padding: 0;

}

.three-lines {
    align-items: stretch;
}

.stylish-header {
    width: 70%;
    margin: 0 auto;
    justify-content: center;
}

.features h2 {

    color: rgb(78, 77, 77);
    font-size: 28px;
    text-align: center;

}

.stylish-header :nth-child(2) {
    flex-basis: 28%;



}

.right-margin hr {
    margin-right: 0;

}

.left-margin hr {
    margin-left: 0;
}

.hr1 {
    width: 50%;
}

.hr2 {
    width: 40%;
}

.hr3 {
    width: 30%;
}

/*   */

.description {
    width: 70%;
    margin: 20px auto;
    word-spacing: 2px;
    text-align: center;
    color: grey;
}


.features .card-container {
    width: 90%;
    margin: 0 auto;
}

.features .card {
    flex-basis: 32%;
    background-color: #FFFFFF;
    padding: 10px 20px;
    align-items: center;
    box-shadow: 0px 1px 1px black;

}

.card p {
    font-size: 14px;
    text-align: center;
    line-height: 1.7;
    padding: 20px 0;
}

.card h3 {
    font-size: 22px;
    color: rgb(78, 77, 77);
    margin-left: 0;
}

.features .icon {
    background-image: linear-gradient(to top right, #D1616B 0 50%, #d4838a 50% 100%);
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 10px;
    margin: 20px 0;
    border-radius: 30px;
}

.features .fa {
    color: white;
}

/* styling variants-------------------------------------------------------------------- */
.variants {
    background-color: #E96C77;
    padding: 90px 0;
}

.variants h2 {
    color: white;
}

.variants h3 {
    color: white;
}

.variants p {
    color: rgb(228, 225, 225);
}

.variants .stylish-header :nth-child(2) {
    flex-basis: 35%;


}

.variants .card-container {
    flex-wrap: wrap;
    width: 70%;
}

.variants .card {
    flex-basis: 45%;
    margin-top: 30px;
    background-color: #EC828C;
}

.variants .icon {
    background-image: linear-gradient(to top right, #525360 0 50%, #7f8195 50% 100%);

}

/* styling team section */
.team {
    background-color: #FFFFFF;
}

.team h2,
h3,
p {
    color: rgb(78, 77, 77);
    padding: 10px 0;
}

.btn-team {
    border: 2px solid rgb(173, 172, 172);
    width: 40%;
    margin: 0 auto;
    text-align: center;
    padding: 8px 10px;
}

.team .card h3 {
    color: rgb(78, 77, 77);
}

.team h4 {
    color: rgb(78, 77, 77);
}



/* styling contact */
.contact .stylish-header :nth-child(2) {
    flex-basis: 20%;


}

.contact h2,
h3,
h4,
p {
    color: rgb(78, 77, 77);
}

.contact .card h3 {
    color: rgb(78, 77, 77);
}

.form {
    background-color: white;
    width: 70%;
    margin: 30px auto;
}

.form-inputs {
    flex-basis: 48%;
    align-items: stretch;
    padding: 40px 25px;

}


input {
    padding: 10px 10px;
    margin: 10px 0;
    border: 1px solid rgb(177, 174, 174);
    font-weight: bold;
    color: rgb(78, 77, 77);
}

textarea {
    padding: 20px 10px;
    font-weight: bold;
    color: rgb(78, 77, 77);
    margin: 10px 0;
    border: 1px solid rgb(177, 174, 174);
}

.form-buttons {
    justify-content: flex-start;
}

.form-buttons div {
    border: 2px solid rgb(177, 174, 174);
    padding: 10px 15px;
    font-weight: bold;
    color: rgb(78, 77, 77);

}

#send {
    background-color: #E96C78;
    margin-right: 20px;
    border: 2px solid #E96C78;

}

.contact-details {
    flex-basis: 48%;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 10px 20px 10px 10px;
}

.icon-circle {
    width: 40px;
    height: 40px;

    border-radius: 50%;
    display: flex;
    margin-right: 15px;
    justify-content: center;
    align-items: center;
    background-color: rgb(78, 77, 77);
}

.map-marker {
    width: 65px;
}

.contact-details hr {
    width: 100%;
    padding: 5px 0;
    border-bottom: 0;
    border-left: 0;
    color: rgb(78, 77, 77);
    margin-right: 80px;

}

.ico-twitter {
    background-color: #4EAFDB;
}

.ico-facebook {
    background-color: #456BC9;
}

.ico-linkedin {
    background-color: #3492D9;
}

.contact-details p {
    font-size: 16px;
    font-weight: 500;


}

/* styling footer ---------------------------------------------------------*/
footer {
    background-color: #ECECEC;
    padding: 40px 0;
}

.bottom-links {
    padding: 20px 0;
}

.bottom-links a {
    color: rgb(78, 77, 77);
    text-decoration: none;
    padding-right: 10px;
    margin-right: 10px;
    border-right: 1px solid rgb(78, 77, 77);
    font-size: 14px;
}

.contact-us a {
    border-right: none;
}

.fa-copyright {
    margin-right: 5px;
    color: rgb(78, 77, 77);
}

footer p {
    font-size: 14px;
    color: rgb(78, 77, 77);

}

.copyright-text {
    padding-bottom: 60px;
}